

body{
  display: block;
  margin: 0px;
  background-color: #dbd9d9;
}
.logo{
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img{
  width: 65px;
}
.navbar{
  display: flex;
  min-height:70px;
  justify-content: space-between;
  padding: 0 24px;
  backdrop-filter: blur(5px);
  box-shadow: #000000 5px;
  background-color: #0f3950;
  
}

.nav-list{
  width: 45%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.nav-list li{
  list-style: none;
  padding: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a{
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-family: sans-serif;
}

.nav-list li a:hover{
  color: #6be9d1;
}

.rightnav{
  width: 55%;
  margin-top: 15px;
  margin-right: 50px;
  text-align: right;
}

.new{
  margin-bottom: 90px;
  margin-top: 150px;
  }


  table{
    width:100%;
    table-layout: fixed;
    background-color: white;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:460px; 
    width: 80%; 
    overflow-x:auto;
    border-radius: 20px;
    margin-top: 200px;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    background-color: white;
    box-shadow: 5px 5px 50px 5px;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 35px;
    color:black;
    border-bottom: solid 5px  #dbd9d9;
    background-color: white;
    font-family: sans-serif;
  }
  
  
  /* demo styles */
  
  /* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  } */
  section{
    margin: 50px;
  } 
  
  
  /* follow me template */
  /* .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
   */
  
  /* for custom scrollbar for webkit browser*/
  
  /* ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } */