*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
}
.navbar{
    display: flex;
}

.nav-list{
    width: 45%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}

.nav-list li a:hover{
    color: grey;
}

.rightnav{
    width: 55%;
    margin-top: 15px;
    margin-right: 50px;
    text-align: right;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 75%;
    /* margin: auto; */
    margin-left: 200px;
    margin-top: 80px;
}
.background{
    background-size: cover;
    mix-blend-mode: darken;
}
.firstsection{
    height: 60vh;
}
.firsthalf{
    width: 70%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.secondhalf{
    width: 30%;
    display: flex;
    justify-content: center;
}
.secondhalf img{
    width: 150%;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 64px;
}
.fyg{
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: flex;
    margin-top: 30px;

}
.login-btn{
    background-color: #6BE9D1;
    padding: 8px 20px;
    align-items: top;
    margin: 7px 0;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 20px;
}

.fyg-btn{
    background-color: #6BE9D1;
    padding: 12px 30px;
    border: none;
    margin: 7px 0;
    height: 20%;
    text-align: center;
    color: white;
    cursor: pointer;
    line-height: 30px;
    position: relative;
    border-radius: 4px;
    font-size: 30px;
}
.Dropdown{
    height: auto;
    width: 200px;
    background-color: pink;
    position: absolute;
    left: 0;
    display: none;
}
.miet{
    color: black;
    display: block;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    text-decoration: none;
}
.miet:hover
{
    background-color: #6BE9D1;
    color: white;

}
.fyg-btn:hover .Dropdown
{
    display: block;
}


        /* .container{
            height: 30px;
            width: 200px;
            position: relative;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 30px;
            font-size: 15px;
            cursor: pointer;
        }
        .Dropdown{
            height: auto;
            width: 200px;
            background-color: pink;
            position: absolute;
            left: 0;
            display: none;
        }
        .miet{
            color: black;
            display: block;
            text-align: left;
            padding-left: 5px;
            font-size: 14px;
            text-decoration: none;
        }
        .miet:hover
        {
            background-color: green;
            color: white;

        }
        .container:hover .Dropdown
        {
            display: block;
        } */