<!DOCTYPE html>
<html>
<head>
    <title>Student Form Details with Feedback</title>
</head>
<body>
    <h1>Student Form Details</h1>
    
    <h2>Personal Information</h2>
    {% for key, value in to.items() %}
    <p><strong>{{ key }}</strong> {{ value }}</p>
    <!-- <p><strong>Email:</strong> {{ l }}</p>
    <p><strong>Semester:</strong> {{ l }}</p>
    <p><strong>Roll Number:</strong> {{ l }}</p>
    <p><strong>Branch:</strong> {{ l }}</p> -->

    {% endfor %}
    <h2>Feedback</h2>

    <form action="/submit-feedback" method="post">
        <label for="feedback">Feedback:</label><br>
        <textarea id="feedback" name="feedback" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Submit Feedback">
    </form>
</body>
</html>