<!DOCTYPE html>
<html>
<head>
    <title>Student Form Details with Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/action.css') }}">
</head>
<body>
   
    <div class="maincontainer">
        <div class="hamcont">
            <div class="hamburgers">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </div>
        </div>
    <div class="leftcontainer">
    <h1>Student Form Details</h1>
    
    <h2>Personal Information</h2>
    {% for key, value in to.items() %}
    <p><strong>{{ key }}</strong> {{ value }}</p>
    <!-- <p><strong>Email:</strong> {{ l }}</p>
    <p><strong>Semester:</strong> {{ l }}</p>
    <p><strong>Roll Number:</strong> {{ l }}</p>
    <p><strong>Branch:</strong> {{ l }}</p> -->

    {% endfor %}
    </div>
    <h2>Feedback</h2>
    <div class="rightcontainer">
    <form action="/submit-feedback" method="post" enctype='multipart/form-data'>
        <label for="atbt">Action To Be Taken:</label><br>
        <textarea id="atbt" name="atbt" rows="4" cols="50"></textarea><br>
        <label for="atbt">Proof of Action</label><br>

        <label for="atbt">Further review needed</label><br>
        <label for="fr">YES</label>

        <input type="radio" name="fr" value="0">

        <label for="fr">NO</label>

        <input type="radio" name="fr" value="1"><br>

        <input type="submit" value="Submit Feedback">

    </form>
    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
    </div>
    </div>
</body>
<script type='text/javascript' src="{{ url_for('static', filename='js/action.js') }}"></script>
</html>