<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>

    <!--- My CSS Link-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/action.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><img src="{{url_for('static', filename= 'images/Group25.png')}}" alt="logo"></div>
    </nav>

    <main>
        <section class="learn">
            <h1>Grievance Raised.</h1>
            <div class="cta">
                
                {% for key, value in dets.items() %}
                {% set index = loop.index0 %}
                <p style="color: rgb(0, 0, 0);"><strong>{{ key }}</strong> {{ value }}</p>
                {% endfor %}
            </div>
           
            
        </section>

        <section>
           

            
    <div class="sign-up">
        <form action="/actiontaken" method="POST" class="signup-form" data-netlify="true">
            <div class="form-btn">
                <h2>Action to be taken</h2>
                <textarea type="textarea" name="action" placeholder="Action to be taken" rows="4" cols="80" required></textarea>
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">First Name cannot be empty</p>
            </div>
            <input id="file" type="button" value="Upload File" id="btn">
            <div class="form-btn">
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <select name="Type" name="status">  
                    <option value="Further Review Needed ?">Further Review Needed ?</option>  
                    <option value="Yes! In process.">Yes! In process.</option>  
                    <option value="No! Close the ticket">No! Close the ticket.</option>  
                    
        
                    
                    </select>  
                <p class="msg">First Name cannot be empty</p>
            </div>
            

            <input id="submit-btn" type="submit" value="Submit Action" id="btn">
    </form>
        </section>
    </main>
    
</body>
<script type='text/javascript' src="{{ url_for('static', filename='js/action.js') }}"></script>
</html>