<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="assets/css/reqregis.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admindetail.css') }}">
  </head>
  <body>
    <!-- <nav class="navi">
        <div class="logo">
            <img src=""">
        </div>
        <div class="login">
            <a href="#">Login</a>
        </div>

    </nav> -->

    <main>
        <section class="learn">
            <div class="sign-up">
                <form action="/admindetail" method="POST" class="signup-form" >
                   
                    <div class="form-btn">
                        <input type="text" placeholder="Name" name="Name" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">First Name cannot be empty</p>
                    </div>
        
                    <div class="form-btn">
                      <input type="text" placeholder="Gender" name="Gender" required>
                      <img class="icon" src="./Images/icon-error.svg" alt="Error">
                      <p class="msg">First Name cannot be empty</p>
                  </div>
                  
                  
                  
        
                    <div class="form-btn">
                        <input type="text" placeholder="College E-mail ID " name="Mail" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">First Name cannot be empty</p>
                    </div>
        
                    <div class="form-btn">
                        <input type="text" placeholder="Mobile Number" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">First Name cannot be empty</p>
                    </div>
        
                    <div class="form-btn">
                        <input type="text" placeholder="Semester" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">First Name cannot be empty</p>
                    </div>
        
                    <div class="form-btn">
                        <input type="text" placeholder="AKTU Roll Number" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">First Name cannot be empty</p>
                    </div>
        
                    <div class="form-btn">
                        <input type="text" placeholder="Branch" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">First Name cannot be empty</p>
                    </div>
        
                    <div class="form-btn">
                        <input type="text" placeholder="Date & Time of Incident" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">Last Name cannot be empty</p>
                    </div>
        
                    <div class="form-btn">
                        <input type="email" placeholder="Any Other Specific Details ?" required>
                        <img class="icon" src="./Images/icon-error.svg" alt="Error">
                        <p class="msg">Looks like this is not an email</p>
                    </div>
        
                    <div class="form-btn">
                      <img class="icon" src="./Images/icon-error.svg" alt="Error">
                      <select>  
                          <option value="Select Your Grievance">Which Type</option>  
                          <option value="BCA">Student</option>  
                          <option value="BBA">Faculty</option>  
                          <option value="B.Tech">Assistant Workers</option>  
              
                          
                          </select>  
                      <p class="msg">First Name cannot be empty</p>
                  </div>
        
                   
        
                    <input id="submit-btn" type="submit" value="submit" id="btn">
        
                    <!-- <p class="terms">By clicking the button, you are agreeing to our <span><a href="#">Terms and Services</a></span></p> -->
                </form>
          
           
        </section>

        <section>
            <!-- <div class="cta">
                <p><span>Try it free 7 days</span> then $20/mo. thereafter</p>
            </div> -->

            <div class="sign-up2">
                <form action="/admindetail" method="POST" class="signup-form" >
                    
                    <nav>

                        <label for="touch">
                            <span>
                                Action 1 <br>
                                Date :
                            </span>
                            
                        </label>               
                        <input type="checkbox" id="touch"> 

                        <ul class="slide">
                            <h1>Student Form Details</h1>
                            <h2>Personal Information</h2>
                        </ul>

                    </nav>
    
        </section>
    </main>

          </body>
        </html>