<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/grlist.css') }}"
    />
    <!-- <link rel="stylesheet" href="css/grlist.css"> -->
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img
          src="{{url_for('static', filename= 'images/Group25.png')}}"
          alt="logo"
        />
      </div>
      <ul class="nav-list">
        
        <li><a href="#ClosedTickets">Closed Tickets</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
    </nav>
    {% if flag_new %}
    <section class="new">
      <!-- <form action="/detail" method="POST" class="form_main2"> -->
      <div id="NewTickets">
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              {% for name in new %}
              <tr>
                <td><a href="{{ url_for('details',name = name) }}"> {{ name[0] }}</a></td>
                <td><a href="{{ url_for('details',name = name) }}"> {{ name[1] }}</a></td>
                <td class="itemtab"><span class="an">●</span></td>
                <td class="itemtab"><a class =itemtable id="new_action1" href="{{ url_for('details',name = name) }}"><i class="fa fa-plus"></i></a></td>
              </tr>
              {% endfor %}
              {% for name in pending %}
              <tr>
                <td>{{ name[0] }}</td>
                <td>{{ name[1] }}</td>
                <td class="itemtab"><span class="ap">●</span></td>
                <td class="itemtab">
                  <a class="itemtable history-button" href="#">
                    <i class="fa fa-history" aria-hidden="true"></i>
                  </a>
                </td>
                
                <td class="itemtab"><a class =itemtable href="{{ url_for('details',name = name) }}"><i class="fa fa-plus"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <p></p>
        </div>
      </div>
      <!-- </form> -->
    </section>
    {% else %} {% endif %} {% if flag_pend %}
    <!-- <section class="new">
      <div id="OngoingTickets">
         <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              {% for name in pending %}
              <tr>
                <td>{{ name }}</td>
                <td class="itemtab"><span class="ap">●</span></td>
                <td class="itemtab">
                  <a class="itemtable history-button" href="#">
                    <i class="fa fa-history" aria-hidden="true"></i>
                  </a>
                </td>
                
                <td class="itemtab"><a class =itemtable id="new_action" href="#"><i class="fa fa-plus"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <p></p>
        </div>
      </div>
    </section>
    {% else %} {% endif %} {% if flag_closed %}
    <section class="new">
      <div id="ClosedTickets">
        
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              {% for name in closed %}
              <tr>
                <td>{{ name }}</td>
                <td><span class="ac">●</span></td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <p></p>
        </div>
      </div>
    </section>
    {% else %} {% endif %} -->

    <div id="history-popup" class="popup1">
      <div class="popup-content1">
        <span class="close1" id="closeHistoryPopup">&times;</span>
        <div class="history-content">
          <!-- Dropdown 1 -->
          <div class="history-dropdown">
            <button class="dropdown-btn">Action Dated - (11-08-2023)
              <i class="fa fa-chevron-down"></i>
              </button>
            <div class="dropdown-content">
              <p>Name: Suvansh Jindal</p>
              <p>Grievance Type: Exam</p>
              <p>Grievance Details: Invigilator humiliated me in front of the entire class as I reached late, but it wasnt my fault. It raining heavily outside </p>
              <p>Action Taken: Investigating The Invigilator</p>
              <p>Documents:</p>
              <ul>
                <li><a href="path/to/document1.pdf">Document 1</a></li>
                <li><a href="path/to/document2.jpg">Document 2</a></li>
              </ul>
            </div>
          </div>
        
          <!-- Dropdown 2 -->
          <div class="history-dropdown">
            <button class="dropdown-btn">Action Dated - (15-08-2023)<i class="fa fa-chevron-down"></i></button>
            <div class="dropdown-content">
              <p>Name: Suvansh Jindal</p>
              <p>Grievance Type: Exam</p>
              <p>Grievance Details: Invigilator humiliated me in front of the entire class as I reached late, but it wasnt my fault. It raining heavily outside </p>
              <p>Action Taken: Further Investigation required and feedbacks are being taken</p>
              <p>Documents:</p>
              <ul>
                <li><a href="path/to/document3.pdf">Document 3</a></li>
                <!-- Add more documents as needed -->
              </ul>
            </div>
          </div>
        
          <!-- Add more dropdowns as needed -->
        </div>
        
      </div>
    </div>
    

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" id="closePopup">&times;</span>
        <div class="sign-up">
          <form action="/actiontaken" method="POST" class="signup-form" data-netlify="true">
              <div class="form-btn">
                  <h2>Action to be taken</h2>
                  <textarea type="textarea" name="action" placeholder="Action to be taken" rows="4" cols="80" style="resize:none" required></textarea>
                  <!-- <img class="icon" src="./Images/icon-error.svg" alt="Error"> -->
                  <p class="msg">First Name cannot be empty</p>
              </div>
              <input id="file" type="button" value="Upload File" id="btn">
              <div class="form-btn">
                  <!-- <img class="icon" src="./Images/icon-error.svg" alt="Error"> -->
                  <select name="Type" name="status">  
                      <option value="Further Review Needed ?">Further Review Needed ?</option>  
                      <option value="Yes! In process.">Yes! In process.</option>  
                      <option value="No! Close the ticket">No! Close the ticket.</option>  
                      
          
                      
                      </select>  
                  <p class="msg">First Name cannot be empty</p>
              </div>
              
  
              <input id="submit-btn" type="submit" value="Submit Action" id="btn">
      </form>
      </div>
    </div>
    </div>



    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/grlist.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/popup.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/popuphist.js') }}"
    ></script>
    
  </body>
</html>
