<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body link="#000" alink="#000" vlink="#000">
    <!-- <h3 >
        <font face="Lato" size="6" align="left">
            <img src="Group 25.png">
        </font>
        <font face="cinzel" align="right">
            <a href="#">Login</a>
        </font>
    </h3> -->
    <nav>
        <font face="Lato" size="6" >
            <img src="Group 25.png">
         </font>
         <font face="cinzel">
            <a href="#">Login</a>
        </font>
    </nav>
    <br /><br /><br /><br />
    <h1 align="center">
        <div>
            <font face="Lato" color="#000" size="7">
                Need help?
                <br>
                Reduce the gap
                <br>
                Use Grievance app
            </font>
        </div>
    </h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h3 align="center">
        <button onclick="window.location.href = 'requestRegister.html';">
            File your grievance
        </button>
    </h3>
</body>
</html>