<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body link="#000" alink="#000" vlink="#000">
 
        <nav class="navbar">
            <div class="logo"><img src="{{url_for('static', filename= 'images/Group25.png')}}" alt="logo"></div>
            <ul class="nav-list">
                <!-- <li> <a href="#home">Home</a></li>
                <li> <a href="#about">About</a></li>
                <li> <a href="#services">Services</a></li>
                <li> <a href="#contact">Contact Us</a></li> -->
                <button class="login-btn" onclick="showPopup()">Login</button>
            </ul>
           
            <!-- <div class="rightnav"> -->
                <!-- <button class="login-btn">Login</button> -->
            <!-- </div> -->
            <!-- <div class="hamcon">
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div> -->
        </nav>

        <section class="background firstsection">
            <div class="box-main">
                <div class="firsthalf">
                    <p class="text-big">
                        <b>
                        Facing any nuisance? 
                        <br>
                        File a Grievance!
                    </b>
                    </p>
                </div>
                <div class="secondhalf">
                    <img src="{{url_for('static', filename='images/image1.png')}}">
                </div>
            </div>
        </section>
        <section class="fyg">
            <div class="jj">
            <a href="requestRegister.html"><button type="button" class="fyg-btn">
                    File your Grievance
                    <!-- <ul class="Dropdown">
                        <li><a href="#" class="miet">MIET</a></li>
                        <li><a href="#" class="miet">ABES</a></li>
                        <li><a href="#" class="miet">JAYPEE</a></li>
                    </ul> -->
            </button>
        </a>
    </div>
        </section>
        <div class="popup-overlay">
            <!-- <div class="cbtn"> -->
                <!-- <button onclick="closePopup()" class="close-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2e2e2e" width="24" height="24">
                      <path d="M19.293 5.293l-4.586 4.586 4.586 4.586-1.414 1.414-4.586-4.586-4.586 4.586-1.414-1.414 4.586-4.586-4.586-4.586 1.414-1.414 4.586 4.586 4.586-4.586 1.414 1.414z"/>
                    </svg>
                  </button> -->
              <!-- </div> -->
              <!-- <div class="formcontainer"> -->
                <form action="/popup" method="POST" class="form_main">
                    <button onclick="closePopup()" class="close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2e2e2e" width="24" height="24">
                          <path d="M19.293 5.293l-4.586 4.586 4.586 4.586-1.414 1.414-4.586-4.586-4.586 4.586-1.414-1.414 4.586-4.586-4.586-4.586 1.414-1.414 4.586 4.586 4.586-4.586 1.414 1.414z"/>
                        </svg>
                      </button>
                    <p class="heading">Login</p>
                    <div class="inputContainer">
                        <svg class="inputIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2e2e2e" viewBox="0 0 16 16">
                        <!-- <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"></path> -->
                        </svg>
                    <input type="text" class="inputField" id="username" placeholder="Username" name="username">
                    </div>
                    
                <div class="inputContainer">
                    <svg class="inputIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2e2e2e" viewBox="0 0 16 16">
                    <!-- <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path> -->
                    </svg>
                    <input type="password" class="inputField" id="password" placeholder="Password" name="password">
                </div>
                              
                           
                <!-- <button id="button">Submit</button> -->
                <!-- <a href="\grievancelist.html"> -->
                <button id="button" class="cssbuttons-io-button"> Log In
                    <div class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                    </div>
                  </button>
                <!-- </a> -->


                </form>
              <!-- </div> -->
           
          </div>
          
          

    <!-- <div align="center">
        <div class="container">
            File your grievance
            <div class="Dropdown">
                <a href="#" class="miet">MIET</a>
                <a href="#" class="miet">ABES</a>
                <a href="#" class="miet">JAYPEE</a>
            </div>
        </div>
    </div> -->
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Grievance<span>Redressal</span></h3>

				<p class="footer-links">
					<!-- <a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a> -->
				</p>

				<p class="footer-company-name">Arya FuTech © 2024</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

			<div class="footer-right">

				<!-- <p>Contact Developers</p> -->

				<form action="#" method="post">

					<input type="text" name="phoneno" placeholder="Phone Number">
					<textarea name="message" placeholder="Write a message to contact Developers"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>

</body>


<script type="text/javascript" src="{{url_for('static',filename='js/home.js')}}"></script>
<script>
    function showPopup() {
        var popup = document.querySelector('.popup-overlay');
        popup.style.display = 'flex';
      }
      
      function closePopup() {
        var popup = document.querySelector('.popup-overlay');
        popup.style.display = 'none';
      }
      
</script>

</html>