<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="assets/css/reqregis.css"> -->
    <link rel="stylesheet" href="/assets/css/reqregis.css" >
</head>
<body>
    <!-- <nav class="navi">
        <div class="logo">
            <img src=""">
        </div>
        <div class="login">
            <a href="#">Login</a>
        </div>

    </nav> -->
    section.a
    <div class="container1">
    <form action="/" method="POST">
        <label for="TOG">Type of Grievance</label>

        <select name="TOG" placeholder ="Type of Grievance" value="Type of Grievance">
            <option value="A">A</option>
            <option value="A">B</option>
            <option value="A">C</option>
        <select name="TOG" value="Type of Grievance">
        
        <label for="tog">Student</label>

        <input type="radio" name="Student" value="ff">

        <label for="tog">Student</label>

        <input type="radio" name="Faculty" value="ff">
        <input type="text" name="Student" placeholder="Name">
        
        
        <label for="cars">gender</label>
        <select name="TOG">
            <option value="A">Male</option>
            <option value="A">Female</option>
            <option value="A">prefer not to say</option>
        <select name="TOG" value="Type of Grievance">
        <input type="text" name="Student" placeholder="Email">
        <input type="text" name="Student" placeholder="Mobile Number">
        <input type="text" name="Student" placeholder="Semester">
        <input type="text" name="Student" placeholder="AKTU Roll No.">
        <input type="text" name="Student" placeholder="Branch">
        <input type="submit" value="submit">
              


    </form>
</div>

</body>
</html>