<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link rel="stylesheet" href="assets/css/reqregis.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reqregis.css') }}">
  </head>
<body>
    <nav class="navbar">
        <div class="logo"><img src="{{url_for('static', filename= 'images/Group25.png')}}" alt="logo"></div>
    </nav>
    <main>
    
        <section class="learn">
           <h1>File your Grievance.<br>here with Ease !!</h1>
           <img src="{{url_for('static', filename= 'images/image 3.png')}}" style="width:350px;height:400px;">
           
        </section>

        <section>
            <!-- <div class="cta">
                <p><span>Try it free 7 days</span> then $20/mo. thereafter</p>
            </div> -->

            
    <div class="sign-up">
        <form action="/process_form" method="POST" class="signup-form" >
           
            <div class="form-btn">
                <input type="text" placeholder="Name" name="Name" required>
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">First Name cannot be empty</p>
            </div>

            <div class="form-btn">
              <input type="text" placeholder="Gender" name="Gender" required>
              <img class="icon" src="./Images/icon-error.svg" alt="Error">
              <p class="msg">First Name cannot be empty</p>
          </div>
          

            <div class="form-btn">
                <input type="text" placeholder="College E-mail ID " name="Mail" required>
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">First Name cannot be empty</p>
            </div>

            <div class="form-btn">
                <input type="text" placeholder="Mobile Number" name="Number" required>
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">First Name cannot be empty</p>
            </div>

            <div class="form-btn">
                <input type="text" placeholder="Semester" name="Semester" required>
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">First Name cannot be empty</p>
            </div>

            <div class="form-btn">
                <input type="text" placeholder="AKTU Roll Number (for students)" name="RollNo" >
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">First Name cannot be empty</p>
            </div>

            <div class="form-btn">
                <input type="text" placeholder="Branch (for students)" name="Branch" >
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">First Name cannot be empty</p>
            </div>


            <div class="form-btn">
                <input type="text" placeholder="Department (for faculty)" name="Department" >
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
            </div>

            <div class="form-btn">
                <input type="text" placeholder="Designation (for faculty)" name="Designation" >
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
            </div>


            <div class="form-btn">
                <input type="text" placeholder="Date & Time of Incident" name="Date and Time" required>
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">Last Name cannot be empty</p>
            </div>

            <div class="form-btn">
                <input type="email" placeholder="Any Other Specific Details ?" name="Detail" required>
                <img class="icon" src="./Images/icon-error.svg" alt="Error">
                <p class="msg">Looks like this is not an email</p>
            </div>

            <div class="form-btn">
              <img class="icon" src="./Images/icon-error.svg" alt="Error">
              <select name="Type">  
                  <option value="Select Your Grievance">Who Are You ?</option>  
                  <option value="Student">Student</option>  
                  <option value="Faculty">Faculty</option>  
                  <option value="Assistant Worker">Assistant Workers</option>  
      
                  
                  </select>  
              <p class="msg">First Name cannot be empty</p>
          </div>



            <input id="upload-btn" type="button" value="Upload File" > 

            <input id="submit-btn" type="submit" value="submit" >

            <!-- <p class="terms">By clicking the button, you are agreeing to our <span><a href="#">Terms and Services</a></span></p> -->
        </form>
        </section>
    </main>
    
</body>
</html>