<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link rel="stylesheet" href="assets/css/reqregis.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reqregis.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
  </head>
<body>
    <nav class="navbar">
        <div class="logo"><img src="{{url_for('static', filename= 'images/Group25.png')}}" alt="logo"></div>
    </nav>
    <main>
    
        <section class="learn">
           <h1>File your Grievance.<br>here with Ease !!</h1>
           <img src="{{url_for('static', filename= 'images/image 3.png')}}" style="width:350px;height:400px;">
           
        </section>

        <section>
            <!-- <div class="cta">
                <p><span>Try it free 7 days</span> then $20/mo. thereafter</p>
            </div> -->

            
            <div class="container">
                <form>
            
                  <div class="step step-1 active">
                    <div class="form-group">
                      <label for="firstName">Organisation Name</label>
                      <input type="text" id="firstName" name="first-name" list="type1">
                      <datalist id="type1">
                        <option value="MIET Meerut">
                        <option value="MIT Meerut">
                      </datalist>
                    </div>
                    <div class="form-group">
                      <label for="lastName">Type Of Grievance</label>
                      <input type="text" id="lastName" name="last-name" list="type2">
                      <datalist id="type2">
                        <option value="Exam related">
                        <option value="Women related">
                            <option value="icubation chor">
                                <option value="hostel">
                                    <option value="other">
                            
                      </datalist>
                    </div>
                    <div class="form-group">
                      <label for="nickName">Who are You ?</label>
                      <input type="text" id="nickName" name="nick-name" list="type3">
                      <datalist id="type3">
                        <option value="student">
                        <option value="faculty">
                      </datalist>
                    </div>
                    <button type="button" class="next-btn">Next</button>
                  </div>
            
                  <div class="step step-2">
                    <div class="form-group">
                      <label for="email">Name</label>
                      <input type="text" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Designation</label>
                        <input type="text" id="email" name="email">
                      </div>
                      <div class="form-group">
                        <label for="email">Department</label>
                        <input type="text" id="email" name="email">
                      </div>
                      <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email">
                      </div>
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="number" id="phone" name="phone-number">
                    </div>
                    <button type="button" class="previous-btn">Prev</button>
                    <button type="button" class="next-btn">Next</button>
                  </div>

                  <div class="step step-2">
                    <div class="form-group">
                      <label for="email">Name</label>
                      <input type="text" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Year</label>
                        <input type="text" id="email" name="email">
                      </div>
                      <div class="form-group">
                        <label for="email">Branch</label>
                        <input type="text" id="email" name="email">
                      </div>
                      <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email">
                      </div>
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="number" id="phone" name="phone-number">
                    </div>
                    <button type="button" class="previous-btn">Prev</button>
                    <button type="button" class="next-btn">Next</button>
                  </div>
            
                  <div class="step step-3">
                    <div class="form-group">
                      <label for="country">Detailed Grievance</label>
                      <input type="text" id="country" name="country">
                    </div>
                    <div class="form-group">
                      <label for="city">Something More</label>
                      <input type="text" id="city" name="city">
                    </div>
                    <div class="form-group">
                      <label for="postCode">Upload</label>
                      <input type="text" id="postCode" name="post-code">
                    </div>
                    <button type="button" class="previous-btn">Prev</button>
                    <button type="submit" class="submit-btn">Submit</button>
                  </div>
            
                </form>
              </div>
        </section>
    </main>
    
</body>
<script type='text/javascript' src="{{ url_for('static', filename='js/reqreg.js') }}"></script>
</html>