<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        <div>
            <font face="Lato" size="6" >
                Organisation Name :
             </font>
             <input type="text">
        </div>
    </h3>
    <h3>
        <div>
            <font face="Lato" size="6" >
                Types of grievance to be handled :-
             </font>
        </div>
        <br>
        <div>
            <input type="checkbox" name="Women cell" id="">
            <font face="Lato" size="3" >
                Women cell
             </font>
        </div>
        <div>
            <input type="checkbox" name="Student grievance" id="">
            <font face="Lato" size="3" >
                Student grievance
             </font>
        </div>
    </h3>
</body>
</html>